<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinema.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Cinema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("User") || User.IsInRole("SalesManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Orders" asp-page="/Index">К заказам</a>
                            </li>
                        }
                        @if (User.IsInRole("PurchaseManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="PurchaseReports" asp-page="/Index">Отчёты по закупкам</a>
                            </li>
                        }
                        @if (User.IsInRole("HrManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Users" asp-page="/Index">Список пользователей</a>
                            </li>
                        }
                        @if (User.IsInRole("Accountant"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="AccountingReports" asp-page="/Index">Расчётная ведомость</a>
                            </li>
                        }
                        @if (User.IsInRole("StockManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="StockReports" asp-page="/Index">Атрибутика кинотеатра</a>
                            </li>
                        }
                    </ul>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="dropdown">
                            <button class="dropbtn">Администрирование</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="Roles" asp-page="/Index">Системные роли</a>
                                <a class="nav-link text-dark" asp-area="Users" asp-page="/Index">Список пользователей</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/BackupSql">Бэкап в SQL</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/RestoreSql">Восстановление из SQL</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/ExportCsv">Экспорт в CSV</a>
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/Clean">Очистка бэкапов на сервере</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Отделы</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="Orders" asp-page="/Index">Список заказов</a>
                                <a class="nav-link text-dark" asp-area="Departments" asp-page="/Index">Список отделов</a>
                                <a class="nav-link text-dark" asp-area="AccountingReports" asp-page="/Index">Бухгалтерские отчёты</a>
                                <a class="nav-link text-dark" asp-area="PurchaseReports" asp-page="/Index">Отчёты по закупкам</a>
                                <a class="nav-link text-dark" asp-area="StockReports" asp-page="/Index">Атрибутика кинотеатра</a>
                            </div>
                        </div>
                    }
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Cinema - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>