@page
@model Cinema.Pages.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить элемент?</h3>
<div>
    <h4>Сеанс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieSession.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieSession.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieSession.SessionTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieSession.SessionTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MovieSession.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
