@page
@model Cinema.Areas.Departments.Pages.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить этот элемент?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Department.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
