@page "{id:long}"
@model Cinema.Areas.Session.Pages.EditModel

@{
    ViewData["Title"] = "Редактирование билета";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.SessionId" class="control-label"></label>
                <select asp-for="Ticket.SessionId" class="form-control" asp-items="ViewBag.SessionId"></select>
                <span asp-validation-for="Ticket.SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.RowNumber" class="control-label"></label>
                <input asp-for="Ticket.RowNumber" class="form-control" />
                <span asp-validation-for="Ticket.RowNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.SeatNumber" class="control-label"></label>
                <input asp-for="Ticket.SeatNumber" class="form-control" />
                <span asp-validation-for="Ticket.SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.IsBought" /> @Html.DisplayNameFor(model => model.Ticket.IsBought)
                </label>
            </div>
            <input type="hidden" asp-for="Ticket.Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.SessionId">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
